<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <a href="/user/join">회원가입</a>
    <button id="btn">버튼</button>
    <script>
      const btn = document.querySelector('#btn');

      btn.addEventListener('click', async () => {
        // const response = await axios.get('http://localhost:4001/');
        // console.log(response.data);

        const data = {
          userid: 'kong1234',
          usernaem: 'ingoo',
        };

        const option = {
          method: 'post',
          headers: { 'Content-type': 'application/json' },
          credentials: 'include',
          body: JSON.stringify(data),
        };

        const response = await fetch('http://localhost:4001', option);
        const result = await response.text();
        console.log(result);
      });
    </script>
  </body>
</html>
